{% extends 'base.html' %}
{% load static %}

{% block title %} Dodaj książkę z Google Books | {% endblock title %}
{% block content %}

<!-- Messages (Alerts) -->
{% include 'partials/_message.html' %}

<div class="container">
    <div id="import_from_gb_result">
        <h2>Zaimportuj książkę z Google Books</h2>
        <p>Znaleziono: {{ total_items }}</p>
        <form action="{% url 'books:save_book_from_google' %}" method="POST">
            {% csrf_token %}
            <table class="table table-striped">
                <thead>
                    <th>Tytuł</th>
                    <th>Autor</th>
                    <th>Kategoria</th>
                    <th>Opis</th>
                    <th>Średnia ocena</th>
                    <th>Link</th>
                    <th>Dodaj</th>
                </thead>
                <tbody>
                    {% for book in books %}
                    <tr>
                        <td>{{ book.volumeInfo.title }}</td>
                        <td>{% for author in book.volumeInfo.authors %}
                            {{ author }}
                            {% endfor %}
                        </td>
                        <td>{% for category in book.volumeInfo.categories %}
                            {{ category }}
                            {% endfor %}
                        </td>
                        <td>{{ book.volumeInfo.description | truncatechars:250 }}</td>
                        <td>{{ book.volumeInfo.averageRating }}</td>
                        <td><a href="{{ book.volumeInfo.canonicalVolumeLink }}" target="_blank">Link do książki</a></td>
                        <td><input type="checkbox" name="checked-book-id" value="{{ book.id }}"></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button class="btn btn-success" type="submit">Dodaj</button>
        </form>
    </div>
<div class="container">
{% endblock %}