{% extends 'base.html' %}
{% load static %}

{% block title %} Dodaj książkę | {% endblock title %}
{% block content %}
<div class="container">
    <h1>Dodaj książkę</h1>

    <button class="btn btn-default" onclick="showImportFromGb()">Import z Google Books</button>
    <button class="btn btn-default" onclick="showAddBookForm()">Dodaj książkę ręcznie</button>

    <div id="import_from_gb">
        <h2>Zaimportuj książkę z Google Books</h2>
        <div class="search">
            <form class="form-inline">
                    <div class="form-group">
                      <label class="sr-only">Szukana fraza</label>
                      <input type="text" name="textstring" class="form-control" placeholder="Fraza">
                    </div>

                    <div class="form-group">
                      <label class="sr-only">Tytuł</label>
                      <input type="text" name="title" class="form-control" placeholder="Tytuł">
                    </div>
                    <div class="form-group">
                      <label class="sr-only">Autor</label>
                      <input type="text" name="autor" class="form-control" placeholder="Autor">
                    </div>

                    <button class="btn btn-default" type="submit">Szukaj</button>
            </form>
        </div>
        <table class="table table-striped">
        <thead>
            <th>Tytuł</th>
            <th>Autor</th>
            <th>Kategoria</th>
            <th>Opis</th>
            <th>Średnia ocena</th>
            <th>Link</th>
            <th></th>
        </thead>
        <tbody>
            <tr>
                <td>Hobbit czyli Tam i z powrotem</td>
                <td>J. R. R. Tolkien</td>
                <td>Baggins, Bilbo (Fictitious character)</td>
                <td><i>brak</i></td>
                <td>5.0</td>
                <td><a href="https://books.google.com/books/about/Hobbit_czyli_Tam_i_z_powrotem.html?hl=&id=YyXoAAAACAAJ">Link</a></td>
                <td><button class="btn btn-success btn-xs">Dodaj</button></td>
            </tr>
            <tr>
                <td>Finding God in the Hobbit</td>
                <td>Jim Ware</td>
                <td>Religion</td>
                <td>Indulges readers with an exploration of the spiritual significance of J.R.R. Tolkien's famous children's classic.</td>
                <td>4.5</td>
                <td><a href="https://books.google.com/books/about/Finding_God_in_the_Hobbit.html?hl=&id=N_0VhzQKIIAC">Link</a></td>
                <td><button class="btn btn-success btn-xs">Dodaj</button></td>
            </tr>
            <tr>
                <td>Exploring J.R.R. Tolkien's The Hobbit</td>
                <td>Corey Olsen</td>
                <td>Literary Criticism</td>
                <td>The host of the popular podcast The Tolkien Professor provides an in-depth tour of The Hobbit, detailing the secrets and stories behind the characters within the prelude to The Lord of the Rings. 30,000 first printing.</td>
                <td>4.0</td>
                <td><a href="https://books.google.com/books/about/Exploring_J_R_R_Tolkien_s_The_Hobbit.html?hl=&id=KY0BDObXftUC">Link</a></td>
                <td><button class="btn btn-success btn-xs">Dodaj</button></td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-success">Dodaj wszystkie</button>
    </div>

    <div id="add_book_form">
        <h2>Dodaj książkę przez formularz</h2>

        <form>
            <div class="form-group">
              <label class="sr-only">Tytuł</label>
              <input type="text" name="title" class="form-control" placeholder="Tytuł">
            </div>

            <div class="form-group">
              <label class="sr-only">Autor</label>
              <input type="text" name="author" class="form-control" placeholder="Autor">
            </div>
            <div class="form-group">
              <label class="sr-only">Kategoria</label>
              <input type="text" name="category" class="form-control" placeholder="Kategoria">
            </div>
            <div class="form-group">
              <label class="sr-only">Opis</label>
              <input type="text" name="description" class="form-control" placeholder="Opis">
            </div>
            <div class="form-group">
              <label class="sr-only">Średnia ocena</label>
              <input type="text" name="averageRaitnig" class="form-control" placeholder="Średnia ocena">
            </div>
            <div class="form-group">
              <label class="sr-only">Link</label>
              <input type="text" name="link" class="form-control" placeholder="Link">
            </div>

            <button class="btn btn-success" type="submit">Dodaj</button>
        </form>
    </div>
</div>

{% endblock %}
