{% extends 'base.html' %}
{% load static %}

{% block title %} Strona główna | {% endblock title %}
{% block content %}
<div class="container">
    <h1>Lista książek</h1>
    <div class=""search">
        <form>
            <div class="form-row">
                <div class="col-md-4">
                  <label class="sr-only">Autor</label>
                  <input type="text" name="author" class="form-control" placeholder="Autor">
                </div>

                <div class="col-md-4">
                  <label class="sr-only">Kategoria</label>
                  <input type="text" name="category" class="form-control" placeholder="Kategoria">
                </div>
                <div class="col-md-4">
                    <button class="btn btn-default" type="submit">Szukaj</button>
                </div>
            </div>

        </form>
    </div>


    <table class="table table-striped">
        <thead>
            <th>Tytuł</th>
            <th>Autor</th>
            <th>Kategoria</th>
            <th>Opis</th>
            <th>Średnia ocena</th>
            <th>Google Books</th>
        </thead>
        <tbody>
            <tr>
                <td>Hobbit czyli Tam i z powrotem</td>
                <td>J. R. R. Tolkien</td>
                <td>Baggins, Bilbo (Fictitious character)</td>
                <td><i>brak</i></td>
                <td>5.0</td>
                <td><a href="https://books.google.com/books/about/Hobbit_czyli_Tam_i_z_powrotem.html?hl=&id=YyXoAAAACAAJ">Link</a></td>
            </tr>
            <tr>
                <td>Finding God in the Hobbit</td>
                <td>Jim Ware</td>
                <td>Religion</td>
                <td>Indulges readers with an exploration of the spiritual significance of J.R.R. Tolkien's famous children's classic.</td>
                <td>4.5</td>
                <td><a href="https://books.google.com/books/about/Finding_God_in_the_Hobbit.html?hl=&id=N_0VhzQKIIAC">Link</a></td>
            </tr>
            <tr>
                <td>Exploring J.R.R. Tolkien's The Hobbit</td>
                <td>Corey Olsen</td>
                <td>Literary Criticism</td>
                <td>The host of the popular podcast The Tolkien Professor provides an in-depth tour of The Hobbit, detailing the secrets and stories behind the characters within the prelude to The Lord of the Rings. 30,000 first printing.</td>
                <td>4.0</td>
                <td><a href="https://books.google.com/books/about/Exploring_J_R_R_Tolkien_s_The_Hobbit.html?hl=&id=KY0BDObXftUC">Link</a></td>
            </tr>
        </tbody>
    </table>
</div>


{% endblock %}