{% extends 'base.html' %}
{% load static %}

{% block title %} Wyniki wyszukiwania | {% endblock title %}
{% block content %}
<div class="container">
    <h1>Wyniki wyszukiwania</h1>
    <div class="search row">
        <form action="{% url 'books:search' %}">
                <div class="col-md-3">
                  <label class="sr-only">Tytuł</label>
                  <input type="text" name="title" class="form-control" placeholder="Tytuł">
                </div>

                <div class="col-md-3">
                  <label class="sr-only">Autor</label>
                  <input type="text" name="author" class="form-control" placeholder="Autor">
                </div>

                <div class="col-md-3">
                  <label class="sr-only">Kategoria</label>
                  <input type="text" name="category" class="form-control" placeholder="Kategoria">
                </div>
                <div class="col-md-3">
                    <button class="btn btn-default" type="submit">Szukaj</button>
                </div>
        </form>
    </div>

    {% if books %}
    <table class="table table-striped">
        <thead>
            <th>Tytuł</th>
            <th>Autor</th>
            <th>Kategoria</th>
            <th>Opis</th>
            <th>Średnia ocena</th>
            <th>Link</th>
        </thead>
        <tbody>
            {% for book in books %}
            <tr>
                <td>{{ book.title }}</td>
                <td>{% for author in book.author.all %}
                    {{ author }}
                    {% endfor %}</td>
                <td>{% for category in book.category.all %}
                    {{ category }}
                    {% endfor %}
                </td>
                {% if book.description %}
                    <td>{{ book.description }}</td>
                {% else %}
                    <td><em>brak</em></td>
                {% endif %}
                {% if book.averageRaitnig %}
                    <td>{{ book.averageRaitnig }}</td>
                {% else %}
                    <td><em>brak</em></td>
                {% endif %}
                {% if book.link %}
                    <td>{{ book.link }}</td>
                {% else %}
                    <td><em>brak</em></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>Brak wyników.</p>
    {% endif %}
</div>
{% endblock %}